{%  extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Login Here </h2>

    {% for message in messages %}
        <p> {{ message }}</p>
    {% endfor %}

    <form action="" method="POST">
    {% csrf_token %}
    <input name="username" type="text" placeholder="Username">
        <br>
     <input name="password" type="password" placeholder="Password">
    <button class="btn btn-success" type="submit"> Login</button>
    </form>
    <a href="{% url 'user-register' %}"> Don't have an account?</a>
    <a href="{% url 'reset_password' %}"> Forgot password? </a>

{% endblock %}